{{ define "main" }}
<section>
    <div class="container">
        {{ partial "breadcrumbs.html" . }}  
        <article>
            <h1>{{ .Title }}</h1>
            {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
            {{ $dateHuman := .Date | time.Format ":date_long" }}
            <time class="d-b fc-3 m-b-100" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
            {{ .Content }}

        </article>
    </div>
    </section>
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
{{ end }}
